---
import '/src/styles/global.css'
import { getCollection, render } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import { SHOW_BUY_BUTTON } from 'astro:env/server'
import BookScore from '../../components/BookScore.astro'
import BuyButton from '../../components/BuyButton.astro'

export const prerender = false
export async function getStaticPaths() {
    const books = await getCollection('books')
    return books.map((book) => ({
        params: { id: book.slug },
        props: { book },
    }))
}

const { book } = Astro.props
const { data, slug } = book
const { title, author, img, readTime, description, buy } = data
const { Content } = await render(book)
---

<Layout title={`${title} - Books`}>
    <div class="flex justify-center mx-auto mt-16 gap-12">
        <aside class="flex flex-col items-center gap-4">
            <a href="/" class="hover:underline opacity-70">🔙 Volver atrás</a>
            <img transition:name={`img-${slug}`} class="rounded w-60 h-auto" src={`/${img}`} alt={title} />
            <BookScore server:defer id={slug}>
                <span slot="fallback" class="text-xs opacity-70">Cargando...</span>
            </BookScore>
            {
                SHOW_BUY_BUTTON && <BuyButton server:defer buy={buy}/>
            }
        </aside>
        <main class="flex flex-col items-center max-w-2xl">
            <hi transition:name={`title-${slug}`} class="text-4xl font-bold mb-8">{title}</hi>
            <div class="text-gray-300 leading-relaxed">
                <Content />
            </div>
        </main>
    </div>
</Layout>
